xsds/Thorium/1.0/MethodModifications.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:simpleType name="Version">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Family">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Thorium"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MassListType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TargetedMassInclusion"/>
      <xs:enumeration value="TargetedMassExclusion"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ActivationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CID"/>
      <xs:enumeration value="HCD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WindowPlacementOptimization">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off"/>
      <xs:enumeration value="On"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WindowMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MassRange"/>
      <xs:enumeration value="CenterMass"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HCDCollisionEnergyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Absolute"/>
      <xs:enumeration value="Normalized"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DynamicTimeSchedulingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off"/>
      <xs:enumeration value="PiercePRTCMixture"/>
      <xs:enumeration value="BackgroundNavigator"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ScanRateValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ScanRate_33"/>
      <xs:enumeration value="ScanRate_67"/>
      <xs:enumeration value="ScanRate_125"/>
      <xs:enumeration value="ScanRate_200"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FAIMSMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotInstalled"/>
      <xs:enumeration value="StandardResolution"/>
      <xs:enumeration value="HighResolution"/>
      <xs:enumeration value="UserDefined"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FAIMSGasFlowType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Static"/>
      <xs:enumeration value="TimeDependent"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PolarityValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Positive"/>
      <xs:enumeration value="Negative"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="GlobalMethodSettings">
    <xs:complexType>
      <xs:all>
        <xs:element name="LCPeakWidth" type="xs:double" minOccurs="0" maxOccurs="1" />
        
        <xs:element name="FAIMSMode" type="FAIMSMode" minOccurs="0" maxOccurs="1" />
        <xs:element name="FAIMSInnerElectrodeTemp" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="FAIMSOuterElectrodeTemp" type="xs:double" minOccurs="0" maxOccurs="1" />
        
        <xs:element name="FAIMSGasFlow" type="FAIMSGasFlowType" minOccurs="0" maxOccurs="1" />
        <xs:element name="FAIMSGasFlowValue" type="xs:double" minOccurs="0" maxOccurs="1" />
        
        <xs:element ref="FAIMSGasFlowList" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="FAIMSGasFlowList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FAIMSGasFlowRecord" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="FAIMSGasFlowRecord">
    <xs:complexType>
      <xs:all>
        <xs:element name="Time" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="Gas" type="xs:double" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ScanParameters">
    <xs:complexType>
      <xs:all>
        <xs:element name="IsolationOffset" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="CIDCollisionEnergy" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="CIDActivationTime" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="CIDActivationQ" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="CollisionEnergyType" type="HCDCollisionEnergyType" minOccurs="0" maxOccurs="1" />
        <xs:element name="HCDCollisionEnergies" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="MassListRecord">
    <xs:complexType>
      <xs:all>
        <xs:element name="MOverZ" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Z" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="CompoundName" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Formula" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="AdductPositive" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="AdductNegative" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="StartTime" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="EndTime" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="RetentionTime" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="RetentionWindow" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="CIDCollisionEnergy" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="HCDCollisionEnergies" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsolationWindow" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="FirstMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="LastMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="GroupID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="AgcTarget" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="MaxITTime" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="FAIMSCV" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="ScanRate" type="ScanRateValue" minOccurs="0" maxOccurs="1" />
        <xs:element name="Polarity" type="PolarityValue" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="MassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MassListRecord" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="UseCollisionEnergyCID" type="xs:boolean" default="false" />
      <xs:attribute name="UseCollisionEnergiesHCD" type="xs:boolean" default="false" />
      <xs:attribute name="UseIsolationWindow" type="xs:boolean" default="false" />
      <xs:attribute name="UseScanRange" type="xs:boolean" default="false" />
      <xs:attribute name="UsePolarity" type="xs:boolean" default="false" />
      <xs:attribute name="UseAgcTarget" type="xs:boolean" default="false"/>
      <xs:attribute name="UseMaxITTime" type="xs:boolean" default="false"/>
      <xs:attribute name="UseFAIMSCV" type="xs:boolean" default="false"/>
      <xs:attribute name="UseMS2ScanRate" type="xs:boolean" default="false"/>
      <xs:attribute name="UseMS3ScanRate" type="xs:boolean" default="false"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="FullMSScan">
    <xs:complexType>
      <xs:all>
        <xs:element name="FirstMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="LastMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="ScanRate" type="ScanRateValue" minOccurs="0" maxOccurs="1" />
        <xs:element name="AgcTarget" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="MaxITTimeInMS" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="SourceCID" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="ScanDescription" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="16"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
	  <xs:attribute name="GenerateRTBinFile" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="TMSnScan">
    <xs:complexType>
      <xs:all>
        <xs:element name="AgcTarget" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="MaxITTimeInMS" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="ActivationType" type="ActivationType" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsolationWindow" type="xs:double" minOccurs="0" maxOccurs="1" />
        <!-- CID Params -->
        <xs:element name="CIDCollisionEnergy" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CIDActivationTime" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CIDActivationQ" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <!-- HCD Params -->
        <xs:element name="CollisionEnergyType" type="HCDCollisionEnergyType" minOccurs="0" maxOccurs="1" />
        <xs:element name="HCDCollisionEnergies" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <!-- MS2 Parameters -->
        <xs:element name="Ms2ActivationType" type="ActivationType" minOccurs="0" maxOccurs="1" />
        <!-- MS2 CID Params -->
        <xs:element name="Ms2CIDCollisionEnergy" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Ms2CIDActivationTime" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Ms2CIDActivationQ" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <!-- MS2 HCD Params -->
        <xs:element name="Ms2HCDCollisionEnergy" type="xs:double" minOccurs="0" maxOccurs="1"/>

        <xs:element name="MS2ScanRate" type="ScanRateValue" minOccurs="0" maxOccurs="1" />
        <xs:element name="MS3ScanRate" type="ScanRateValue" minOccurs="0" maxOccurs="1" />

        <xs:element name="CycleTime" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="DynamicTimeScheduling" type="DynamicTimeSchedulingType" minOccurs="0" maxOccurs="1" />
        <xs:element name="FAIMSCV" type="xs:string" minOccurs="0" maxOccurs="1"/>

        <xs:element ref="MassList" minOccurs="0" maxOccurs="1" />

        <xs:element name="ScanDescription" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="16"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
	  <xs:attribute name="RTReferenceFile" type="xs:string" use="optional"/>
	</xs:complexType>
  </xs:element>

  <xs:element name="DIAScan">
    <xs:complexType>
      <xs:all>
        <xs:element name="PrecursorFirstMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="PrecursorLastMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="FirstMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="LastMass" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="ScanRate" type="ScanRateValue" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsolationWindow" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="WindowMargin" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="WindowPlacementOptimization" type="WindowPlacementOptimization" minOccurs="0" maxOccurs="1" />
        <xs:element name="WindowMode" type="WindowMode" minOccurs="0" maxOccurs="1" />
        
        <xs:element name="ActivationType" type="ActivationType" minOccurs="0" maxOccurs="1" />
        <!-- HCD Params -->
        <xs:element name="CollisionEnergyType" type="HCDCollisionEnergyType" minOccurs="0" maxOccurs="1" />
        <xs:element name="HCDCollisionEnergies" type="xs:string" minOccurs="0" maxOccurs="1"/>        
        <!-- CID Params -->
        <xs:element name="CIDCollisionEnergy" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CIDActivationTime" type="xs:double" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CIDActivationQ" type="xs:double" minOccurs="0" maxOccurs="1"/>
        
        <xs:element name="AgcTarget" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="MaxITTimeInMS" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="CycleTime" type="xs:double" minOccurs="0" maxOccurs="1" />
        
        <xs:element name="FAIMSCV" type="xs:string" minOccurs="0" maxOccurs="1"/>

        <xs:element ref="MassList" minOccurs="0" maxOccurs="1" />

        <xs:element name="ScanDescription" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="16"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
	  <xs:attribute name="GenerateRTBinFile" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>

  
  <xs:element name="ScanNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SourceNodePosition" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="ScanParameters" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MassListFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SourceNodePosition" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="MassList" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="Above" type="xs:boolean" default="false" />
      <xs:attribute name="MassListType" type="MassListType" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Experiment">
    <xs:complexType>
      <xs:all>
        <xs:element ref="TMSnScan" minOccurs="0" maxOccurs="1" />
        <xs:element ref="FullMSScan" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DIAScan" minOccurs="0" maxOccurs="1" />
        <xs:element ref="CopyAndAppendScanNode" minOccurs="0" maxOccurs="1" />
        <xs:element ref="ScanNode" minOccurs="0" maxOccurs="1" />
        <xs:element ref="MassListFilter" minOccurs="0" maxOccurs="1" />
        <xs:element name="StartTimeMin" type="xs:double" minOccurs="0" maxOccurs="1" />
        <xs:element name="EndTimeMin" type="xs:double" minOccurs="0" maxOccurs="1" />
      </xs:all>
      <xs:attribute name="ExperimentIndex" type="xs:int" use="optional"/>
      <xs:attribute name="TargetLabel" type="xs:string" use="optional"/>
	  <xs:attribute name="IsRTNavigator" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CopyAndAppendScanNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SourceNodePosition" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="CopyAndAppendExperiment">
    <xs:complexType>
      <xs:attribute name="SourceExperimentIndex" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Modification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CopyAndAppendExperiment" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Experiment" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="Order" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="MethodModifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GlobalMethodSettings" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Modification" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="Version" type="Version" use="required" />
      <xs:attribute name="Family" type="Family" use="required" />
      <xs:attribute name="Model" type="xs:string" use="optional"/>
      <xs:attribute name="Type" type="Type" use="required" />
    </xs:complexType>

    <xs:unique name="uniqueOrder">
      <xs:selector xpath="Modification"/>
      <xs:field xpath="@Order"/>
    </xs:unique>
  </xs:element>

  <xs:element name="ExperimentData">
    <xs:complexType>
      <xs:attribute name="ExperimentIndex" type="xs:int" use="optional" default="0"/>
      <xs:attribute name="ScanType" type="xs:string" use="optional"/>
      <xs:attribute name="IsRTNavigator" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="MethodData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ExperimentData" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
